// $carousel-control-width: 10%;



#carouselExampleDark {
    color: bisque;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: small;

    .carousel-inner {
        >.carousel-item {
            padding: 3% 20%;


            >img {
                width: 20rem;
                height: 25rem;
                border-radius: 20px;
            }
        }

        p {
            padding: 10% 10%;
        }
    }
}